
.HeroSection{
    box-sizing: border-box;
    height: 46.2222rem;
    margin: 0 auto;
    max-width: 80.556rem;
    padding: 0 1.1111rem;
    position: relative;
    width: 100%;
}

.HeroSection .elipse {
    bottom: 15%;
    height: 50rem;
    left: 35%;
    position: absolute;
    overflow: hidden;
    width: 50rem;
    z-index: -100;
    animation: elipseAnimationStart 7s ease-in-out infinite alternate;
}

@keyframes elipseAnimationStart
{   from{
        transform: rotate(0);
    }
    to{
        transform : translate(20%, 20%) rotate(180deg) scale(1.2); 
    }

}



.HeroSection .elipse  ellipse{
    /* animation: movement_one 20s ease-in-out infinite alternate both,movement_two 20s ease-in-out infinite both; */
}


.HeroSection .primHeading{
    display: flex;
    flex-direction: column;
    height: 22.1111rem;
    justify-content: flex-end;
    max-width: 70%;
    position: relative;
    left: 0;
    z-index: 1;
    color: #222;
}

.primHeading h1{
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 5.6rem;
    margin-top: 1.5rem;
    margin-bottom: 20px;
}

.primHeading .subtitle{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.3rem;
    margin-top: 1.2rem;
}


.HeroSection .phoneBlock{
    bottom: 0;
    height: 65rem;
    left: 38%;
    position: absolute;
    width: 62rem;
}

.HeroSection .phoneBlock .phoneWrapper{
    height: 25.3888rem;
    position: absolute;
    width: 12.8888rem;
}

.HeroSection .phoneBlock .phoneWrapper.phone1{
    bottom: 38.5rem;
    left: 40.15rem;
    transform: rotate(50deg);
}

.HeroSection .phoneBlock .phoneWrapper-1 picture img{
    transition: transform 2s cubic-bezier(.215,.61,.355,1) .2s,opacity 0ms .2s;
}

.HeroSection .phoneBlock .phoneWrapper.phone2{
    bottom: 17rem;
    left: 39rem;
    transform: rotate(50deg);
}

.HeroSection .phoneBlock .phoneWrapper.phone2 picture img{
    transition: transform 2s cubic-bezier(.215,.61,.355,1) .4s,opacity 0ms .4s;
}

.HeroSection .phoneBlock .phoneWrapper.phone3{
    bottom: 29rem;
    left: 16rem;
    transform: rotate(-40deg);
}

.HeroSection .phoneBlock .phoneWrapper.phone3 picture img{
    transition: transform 2s cubic-bezier(.215,.61,.355,1) .6s,opacity 0ms .6s;
}

.HeroSection .phoneBlock .phoneWrapper.phone4{
    bottom: 4.1rem;
    left: 16.9rem;
    transform: rotate(-40deg);
}

.HeroSection .phoneBlock .phoneWrapper.phone4 picture img{
    transition: transform 2s cubic-bezier(.215,.61,.355,1) .8s,opacity 0ms .8s;
}

.HeroSection .usersAmount{
    color: #909092;
    font-size: 2.2222rem;
    line-height: 3.4445rem;
    margin-top: 4.8889rem;
    position: relative;
}

.HeroSection .usersAmount strong{
    color: #222;
    font-size: 3.3333rem;
    font-weight: 700;
}

.HeroSection .appsBlock{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 2.3333rem;
    position: relative;
    width: 31.3rem;
    z-index: 20;

}

.HeroSection .appsBlock .appsItem{
    align-items: center;
    display: flex;
    margin-bottom: 2.6rem;
    width: 50%;

}

.HeroSection .appsBlock .appsItem a{
    align-items: center;
    display: flex;
    text-decoration: none;

}

.HeroSection .appsBlock .appsItem a .downloadsIcon{
    background: #fff;
    border-radius: 50%;
    flex-shrink: 0;
    height: 3.8889rem;
    margin-right: 1rem;
    position: relative;
    width: 3.8889rem;
}

.HeroSection .appsBlock .appsItem a .downloadsIcon.Google{
    box-shadow: .2777rem 1.3889rem 2.2222rem rgba(253,128,108,.3);
}

.HeroSection .appsBlock .appsItem a .downloadsIcon.apple{
    box-shadow: .2777rem 1.3889rem 2.2222rem rgba(201,98,173,.24);
}

.HeroSection .appsBlock .appsItem a .downloadsIcon svg{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.HeroSection .appsBlock .appsItem a .ratingText{
    color: #222;
    font-size: 1.1111rem;
    line-height: 1.2;
    margin-right: 2.7778rem;
}

@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(10%, 10%) rotateY(10deg) scale(1.2); }
}

@keyframes movement_two
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.2);}
}

@keyframes transform
{
    0%, 100%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1) ;
    }

}

@media screen and (max-width: 990px){
    .HeroSection .elipse{
        width: 1000px;
        height: 1000px;
        animation: elipseAnimationStart 10s ease infinite alternate;

    }
    .HeroSection .primHeading{
        height: max-content;   
    }
    .HeroSection .primHeading h1{
        margin: 2.5rem 0;
        font-size: 4.6rem;
    }
    .HeroSection .phonesBlock  {
        height: 20rem;
        width: 10.416rem;
    }
    .HeroSection .phoneBlock .phoneWrapper{
        width: 100%;
        height: 100%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone1 {
        top: 30rem;
        left: 10rem;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone3 {
        bottom: 15rem;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone4 {
        top: 10.5rem;
        left: 17.5rem;
    }
    .primHeading .subtitle{
        font-size: 1rem;
    }
    .HeroSection .appsBlock .appsItem .downloadsIcon{
        height: 4.6667rem;
        margin-bottom: .9333rem;
        width: 4.6667rem;
    }
    .HeroSection .appsBlock .appsItem a{
        justify-content: center;
    }

    .HeroSection .appsBlock .appsItem a .ratingText{
        margin-right: 0;
    }
}

@media screen and (max-width: 800px){
    .HeroSection{
        height: auto;
    }
    .HeroSection .elipse{
        width: 200%;
        animation: elipseAnimationStart 10s ease infinite alternate;

    }
    .HeroSection .primHeading{
        height: auto;
        margin: 0 auto;
        max-width: 25rem;
    }
    .HeroSection .primHeading h1{
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 4rem;
        margin: 1rem 0;
    }

    .HeroSection .primHeading .subtitle{
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.3rem;
        margin-top: 0;
    }
    .HeroSection .elipse{
        bottom: auto;
        height: 45rem;
        left: auto;
        margin-left: -50%;
        position: absolute;
        top: 16rem;
        width: 200%;
    }
    .HeroSection .phoneBlock{
        bottom: auto;
        height: 20rem;
        left: auto;
        margin: 8rem auto 18rem;
        position: relative;
        width: 10.416rem;
    }

    .HeroSection .phoneBlock .phoneWrapper{
        height: 300px;
        width: 150px;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone1{
        bottom: auto;
        left: 80%;
        position: absolute;
        top: -50%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone1 img{
        transition: transform 1.2s cubic-bezier(.215,.61,.355,1) .12s,opacity 0ms .12s;
        width: 100%;
        height: 100%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone2{
        left: 68%;
        top: 29%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone2 img{
        transition: transform 1.2s cubic-bezier(.215,.61,.355,1) .24s,opacity 0ms .24s;
        width: 100%;
        height: 100%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone3{
        left: -66%;
        top: -17%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone3 img{
        transition: transform 1.2s cubic-bezier(.215,.61,.355,1) .36s,opacity 0ms .36s;
        width: 100%;
        height: 100%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone4{
        left: -60%;
        top: 77%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone4 img{
        transition: transform 1.2s cubic-bezier(.215,.61,.355,1) .48s,opacity 0ms .48s;
        width: 100%;
        height: 100%;
    }

    .HeroSection .usersAmount{
        text-align: center;
    }

    .HeroSection .appsBlock{
        margin-left: auto;
        margin-right: auto;
    }
    .HeroSection .appsBlock .appsItem .downloadsIcon{
        height: 4.6667rem;
        margin-bottom: .9333rem;
        width: 4.6667rem;
    }

    .HeroSection .appsBlock .appsItem a{
        justify-content: center;
    }

    .HeroSection .appsBlock .appsItem a .ratingText{
        margin-right: 0;
    }

}


@media screen and (max-width: 500px){
    .HeroSection .elipse{
        height: 400px;
        width: 400px;
        left: 10rem;
        top: 10rem;
        animation: elipseAnimationStart 5s ease infinite alternate;

    }
    .HeroSection{
        height: auto;
    }
    .HeroSection .phoneBlock{
        height: 16rem;
        width: 8.3333rem;
        margin: 10rem auto 5rem;
    }
    .HeroSection .phoneBlock .phoneWrapper{
        height: 200px;
        width: 100px;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone1{
        left: 55%;
        top: -70%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone2{
        left: 50%;
        top: -10%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone3 {
        left: -60%;
        top: -45%;
    }
    .HeroSection .phoneBlock .phoneWrapper.phone4 {
        left: -57%;
        top: 22%;
    }
    .HeroSection .primHeading h1{
        font-size: 3rem;
        font-weight: 700;
        line-height: 4rem;
        margin: 1rem 0;
    }
    .HeroSection .usersAmount{
        color: #909092;
        font-size: 2.3rem;
        text-align: center;
    }
    
    .HeroSection .usersAmount strong{
        color: #222;
        font-size: 3rem;
    }
    .HeroSection .appsBlock .appsItem .downloadsIcon{
        height: 4.6667rem;
        margin-bottom: .9333rem;
        width: 4.6667rem;
    }
    .HeroSection .appsBlock .appsItem a{
        flex-direction: column;
        text-align: center;
    }

    .HeroSection .appsBlock{
        width: auto;
        padding: 0;
        justify-content: center;
    }
    .HeroSection .appsBlock .appsItem{
        width: 60%;
    }
    .HeroSection .appsBlock .appsItem a .downloadsIcon{
        margin-right: 0;
    }
    .HeroSection .appsBlock .appsItem a .ratingText{
        margin-right: 0;
    }
}