.JoinUs {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  /* display: flex; */
}

.JoinUs .elipse{
    height: 50rem;
    left: 66%;
    position: absolute;
    top: 0;
    width: 50rem;
}

.JoinUs .Joincontent {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    margin-top: 5.5rem;
    padding: 0 1.3889rem;
    position: relative;
}

.JoinUs .Joincontent .title{
    font-size: 2.2222rem;
    font-weight: 700;
    line-height: 2.6667rem;
    margin-bottom: 1.7778rem;
    text-align: center;
}

.JoinUs .Joincontent .desc{
    font-size: 1.1111rem;
    line-height: 1.6667rem;
    margin-bottom: 1.7778rem;
    max-width: 19.5rem;

}

.JoinUs .Joincontent .buttonContainer{
    border-radius: 1.3889rem;
    font-size: .8889rem;
    font-weight: 600;
    height: 2.7rem;
    line-height: 1.0556rem;
    min-width: 11.1111rem;
}

.JoinUs .Joincontent .buttonContainer a{
    background: #ff7676;
    border: 1px solid #ff7676;
    color: #fff;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1.3em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .1s ease;
    user-select: none;
    border-radius: 1.3889rem;
    font-size: .8889rem;
    font-weight: 600;
    height: 2.7rem;
    min-width: 11.1111rem;
}

.JoinUs .Joincontent picture .picMain{
    margin-bottom: 5.3333rem;
    margin-top: 3.4722rem;
    border-radius: .5556rem;
}

.JoinUs .Joincontent .sidePic{
    left: -30rem;
    position: absolute;
    top: 0;
    border-radius: .5556rem;
}

@media screen and (max-width: 900px){
    .JoinUs .Joincontent .sidePic{
        display: none;
    }

    .JoinUs .Joincontent{
        margin-left: 0;
    }

    .JoinUs .Joincontent .picMain{
        width: 40rem;
    }

    .JoinUs .Joincontent .desc{
        font-size: 0.99rem;
        text-align: center;
    }

}   

@media screen and (max-width: 800px){
    .JoinUs .Joincontent{
        align-items: center;
    }

    .JoinUs .Joincontent .picMain{
        height: 18rem;
        margin-bottom: 2.5rem;
        margin-top: 4rem;
        width: auto;
    }
    .JoinUs .elipse{
        width: 30rem;
        height: 30rem;
    }
}