.header{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto 20px auto;
    max-width: 80.556rem;
    padding: 0 1.11111111rem;
}

.header a svg{
    height: 24px;
    width: 110px;
}

.dropdown{
    z-index: 1000 !important;
    display: inline-flex !important;
    flex-direction: column !important;
    margin-left: 4rem !important;
    position: relative !important;
}

#dropdown-basic{
    border-color: transparent !important;
    background-color: transparent !important;
    border-radius: .95rem !important;
    border: 1px solid rgba(151,151,153,.3) !important;
    color: #979799;
}

.dropdown:focus,
#dropdown-basic:focus{
    outline: none !important;
    box-shadow: none;
    background-color: #fff !important;
    color: #979799 !important;
}